
trigger:
  branches:
    include:
      - main

variables:
  azureServiceConnection: 'AzureConn'    
  subscriptionId: '2edf1b4c-7dc2-4bae-883b-d07e9e31d584'
  resourceGroup: 'rg-storage-demo'             

stages:
  - stage: Validate
    displayName: 'Validate ARM Template'
    jobs:
      - job: validate
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - checkout: self
          - task: AzureCLI@2
            displayName: 'What-If Deployment'
            inputs:
              azureSubscription: $(azureServiceConnection)
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                az deployment group what-if \
                  --subscription $(subscriptionId) \
                  --resource-group $(resourceGroup) \
                  --template-file infra/storage.json \
                  --parameters @infra/storage.parameters.dev.json

  - stage: Deploy
    displayName: 'Deploy Storage Account'
    dependsOn: Validate
    jobs:
      - job: deploy
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - checkout: self
          - task: AzureCLI@2
            displayName: 'Deploy ARM Template'
            inputs:
              azureSubscription: $(azureServiceConnection)
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                az deployment group create \
                  --subscription $(subscriptionId) \
                  --resource-group $(resourceGroup) \
                  --name "storage-deploy-$(date +%Y%m%d%H%M%S)" \
                  --template-file infra/storage.json \
                  --parameters @infra/storage.parameters.dev.json \
                  --verbose
 